$company-dark-gray: #2d2d2d;
$company-light-gray: #777777;
$company-green: #6c966e;
$company-orange: #ee5b39;
$company-blue: #43a8c6;
$company-purple: #5340ab;
$company-yellow: #fea410;
$company-white: #fff;
$company-light-yellow: #f7f6f1;

$heading-font: 'Open Sans', sans-serif;
$main-font: 'Roboto', sans-serif;

$shadow: 0 0.6px 2.7px rgba(0, 0, 0, 0.016), 0 1.5px 6.9px rgba(0, 0, 0, 0.022),
  0 3px 14.2px rgba(0, 0, 0, 0.028), 0 6.2px 29.2px rgba(0, 0, 0, 0.034),
  0 17px 80px rgba(0, 0, 0, 0.05);

$border-radius: 5px;
